<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yanzm.example.adaptersamples">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdapterSamples"
        tools:ignore="AllowBackup">

        <activity android:name=".AdapterSamples">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".SimpleAdapterSample" />

        <activity android:name=".SimpleAdapterSample2" />

        <activity android:name=".ArrayAdapterSample" />

        <activity android:name=".ArrayAdapterSample2" />

        <activity android:name=".ArrayAdapterSample3" />

        <activity android:name=".ArrayAdapterSample4" />

        <activity android:name=".ArrayAdapterSample5" />

        <activity android:name=".ArrayAdapterSample6" />

        <activity android:name=".ExtendsArrayAdapterSample" />

        <activity android:name=".ExtendsArrayAdapterSample2" />

        <activity android:name=".SimpleExpandableListAdapterSample" />

        <activity android:name=".ExtendsArrayAdapterSample3" />

    </application>

</manifest>
